html {
    scroll-behavior: smooth;
}

body {
    background-color: #587676;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.landing{
    background-image: url(assets/niclas-illg-iMngZ0UpdH8-unsplash.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.nav {
    background-color:transparent;
    padding-top: 53px;
    padding-bottom: 40px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-item :hover {
    color: #333D53;
}


.header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 20px;
    
}

.header-work {
    background-color: #7A9090;
    color: white;
    text-align: center;
}

#hero-button {
    text-transform: uppercase;    
    width: 250px;
    height: 50px;
    font-size: 20px;
    position: relative;
    bottom: 20px;
    background-color: #587676b4;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-about {
    background-color: transparent;
    color: white;
    text-align: center;
    margin-top: -35px;
}


h1#name {
   margin-bottom: -30px; 
   font-weight: 600;
}

.dividing-bar {
    width: 99.5%;
    border: 2px solid white;
    background-color: transparent;
    padding: 0px;
    z-index: +1;
}

.dividing-bar-about {
    width: 99%;
    border: 2px solid white;
    background-color: transparent;
    margin-top: -17px;
    padding: 0px;
    z-index: +1;
}

p.lead {
    color: white;
    text-align: center;
    margin-top: -20px;
    padding-bottom: 50px;
}

.about {
    background-color: #7A9090;
    padding-bottom: 100px;
    padding-top: 100px;
}

#about-text{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
}

#meet-jenn {
    align-items: left;
    max-width: 400px;
}

#back-circle {
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: 50%;
    background-color: #333D53;
}

img.headshot {
    width: 250px;
    height: 250px;
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 3px solid white;
}

#headshot-sec {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2#work {
    margin-bottom: -25px; 
}

h2#connect {
    margin-bottom: -24px; 
}
.header-connect {
    background-color: #333D53;
    color: white;
    text-align: center;
}

hr {
    margin-bottom: 0em;
}

.work1 {
    background-color: #333D53;
    padding: 100px 30px 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.work2 {
    background-color: #333D53;
    padding: 30px 30px 100px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

form.connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect {
    margin-top: 30px;
}

 .flip-card {
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    width: 250px;
    background-color: white;
    height: 250px;
    margin-bottom: 10px;
}

.container-fluid {
    justify-content: center;
}

.col-sm{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  

.flip-card-front {
    background-color:white;
    color: #333D53;
}
  

.flip-card-back {
    background-color: white;
    color: #333D53;
    padding: 10px;
    transform: rotateY(180deg);
}

.card-title {
    padding-top: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333D53;
}

a{
    text-decoration: none;
    color: white;
}

a.button{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid white;
    margin: 0 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2x;
}

a.button:hover {
    color: #333D53;
    background-color: white;
}

@media all and (max-width: 30em){
    a.button{
        display: block;
        margin: 0.4em auto;
    }
}


a.button-card{
    color: #333D53;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #333D53;
    margin: 0 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2x;
}

a.button-card:hover {
    background-color: #333D53;
    color: white;
}

@media all and (max-width: 30em){
    a.button-card{
        display: block;
        margin: 0.4em auto;
    }
}


.form-style-6{
	
	max-width: 800px;
	margin: 10px auto;
    padding: 16px;
    border: 1.5px solid white;
    
}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	/* -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out; */
    outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: transparent;
	margin-bottom: 4%;
	border: 1px solid #ccc;
    padding: 3%;
    font: 'Roboto Condensed', sans-serif;
    color: #fff;
    
    
	
}
.form-style-6 input[type="text"]::placeholder,
.form-style-6 input[type="date"]::placeholder,
.form-style-6 input[type="datetime"]::placeholder,
.form-style-6 input[type="email"]::placeholder,
.form-style-6 input[type="number"]::placeholder,
.form-style-6 input[type="search"]::placeholder,
.form-style-6 input[type="time"]::placeholder,
.form-style-6 input[type="url"]::placeholder,
.form-style-6 textarea::placeholder,
.form-style-6 select::placeholder {
    color: #fff;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	border: 1px solid white;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 50%;
    padding: 1%;
	background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: white;
    color: #333D53;
}

.icon {
    width: 100px;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    margin-top: 20px;
}

.footer {
    margin-top: 100px;
}

/* .navbar-light, .navbar-text, .navbar-nav, .mr-auto, .collapse, .navbar-collapse, .navbar-expand-lg, .navbar-brand, #navbarText, .navbar,  */

.nav-link, .navbar-brand, .navbar-text {
    color: white!important;
}

.nav-link:hover {
    color:#333D53!important;
}